.sidebar {
display:none
}

.sidebar.open {
    display: block;
    position: absolute;
    z-index: 100;
    width: 317px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 0;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    margin-left: 73px;
}

.nav a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin: 25px;
    text-underline: none;
}

.nav a:hover {
    color: #58ACFF;
    text-decoration: none;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}
.close {
    border: none;
    background-color: #FFFFFF;
}

.close img {
    position: absolute;
    left: 85%;
    top: 2%;
}



