.input:focus {
    outline: none;
    border: 2px solid #D1D1D1;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 327px;
    height: 36px;
}

.inputWrapper {
}

.superInput {
    border: 1px solid slategrey;
}

.errorInput {
    border: 2px solid red;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.errorInput:focus {

}

.error {
    color: #CC1439;
    position: absolute;
    margin-left: 10px;


}
