.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
