* {box-sizing: border-box;}
.header {
    width: 100%;
    height: 60px;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 13px 30px;
    position:fixed;
    z-index: 999;

}

.burgerMenuIcon {

}

.header h1 {
    width: 184px;
    height: 29px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}
